<o-form-layout-manager attr="Passenger" mode="tab" title="PASSENGER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PassengerTable" 
            service="Passenger" 
            entity="Passenger" 
            title="PASSENGER"
            keys="id"
            columns="name;booking_id;age;id" 
            header-actions="R;D"
            visible-columns="name;booking_id;age;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="booking_id" title="booking_id">
    <o-table-cell-renderer-service attr="booking_id" 
        service="Booking" entity="BookingType" columns="id;id"
        parent-keys="id:booking_id"
        value-column="id" keys="booking_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #age attr="age" title="age" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>