<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="User_form_edit" 
        service="User" 
        entity="User" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #signup_date attr="signup_date" type="timestamp" label="signup_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="BOOKING-user_id">
    <div layout-padding>
      <o-table 
        attr="BookingTable" 
        service="Booking" 
        entity="Booking" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;flight_id;user_id;booking_date"  
        horizontal-scroll="yes"
        detail-form-route="Booking" 
        edit-form-route="Booking"
        visible-columns="id;flight_id;user_id;booking_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="flight_id" title="flight_id">
    <o-table-cell-renderer-service attr="flight_id" 
        service="Flight" entity="FlightType" columns="id;id"
        parent-keys="id:flight_id"
        value-column="id" keys="flight_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;name"
        parent-keys="id:user_id"
        value-column="name" keys="user_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #booking_date attr="booking_date" type="timestamp" label="booking_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="HOLIDAY-user_id">
    <div layout-padding>
      <o-table 
        attr="HolidayTable" 
        service="Holiday" 
        entity="Holiday" 
        keys="id"
        parent-keys="user_id:id"
        columns="name;user_id;start_date;end_date;id"  
        horizontal-scroll="yes"
        detail-form-route="Holiday" 
        edit-form-route="Holiday"
        visible-columns="name;user_id;start_date;end_date;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;name"
        parent-keys="id:user_id"
        value-column="name" keys="user_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #start_date attr="start_date" type="date" label="start_date" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #end_date attr="end_date" type="date" label="end_date" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="REVIEW-user_id">
    <div layout-padding>
      <o-table 
        attr="ReviewTable" 
        service="Review" 
        entity="Review" 
        keys="id"
        parent-keys="user_id:id"
        columns="id;user_id;rating;comment"  
        horizontal-scroll="yes"
        detail-form-route="Review" 
        edit-form-route="Review"
        visible-columns="id;user_id;rating;comment"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;name"
        parent-keys="id:user_id"
        value-column="name" keys="user_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #rating attr="rating" title="rating" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #comment attr="comment" title="comment" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>